<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Downloader" version="2.2.8" targetFramework="net452" />
  <package id="NAudio" version="1.10.0" targetFramework="net452" />
  <package id="SDL2-CS-Updated" version="1.0.0" targetFramework="net452" />
  <package id="SevenZipSharp.Net45" version="1.0.19" targetFramework="net452" />
</packages>